/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: #fafbfe;
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);

  --orange-color: #ff9f43;
  --green-color: #1db954;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}
h1 {
  font-size: 18px;
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

h1,
h2,
h3 {
  color: var(--title-color);
  margin-block: 1rem;
}

ul {
  list-style: none;
}
i {
  font-size: 1.2rem;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.1rem;
}
.ri-delete-bin-line {
  color: red;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
button {
  padding: 6px 10px;
  font-size: 1rem;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: semibold;
  border: none;
  i {
    color: gray;
  }
}

body {
  font-family: "Nunito", sans-serif;
  i {
    cursor: pointer;
  }
}
header {
  display: flex;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.1));
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  height: 58px;
  i {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .left-header {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .right-header {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
  }
}
main {
  margin-top: 55px;

  display: flex;
  align-items: flex-start;
  .section {
    margin-left: 220px;
    padding: 30px;
    transition: all 0.5s ease-in-out;
    flex: 1;
    @media screen and (max-width: 1090px) {
      margin-left: 0;
    }
  }
  .section.open{
    margin-left: 0;
    transition: all 0.5s ease-in-out;
  }
  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;
    @media screen and (max-width: 607px) {
      gap: 40px;
      .orange-btn {
        margin-bottom: 20px;
      }
    }
  }

  aside {
    white-space: nowrap;
    background-color: #111827;
    height: 100%;
    position: fixed;
    transition: all 0.5s ease-in-out;
    overflow-y: auto;
    padding: 0;
    left: 0;
    width: 220px;
    color: #f4f4f4;
    ul {
      width: 100%;

      transition: all 0.5s ease-in-out;

      li {
        /* display: flex; */
        padding: 16px;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        justify-content: space-between;
        i {
          font-size: 1.1rem;
          margin-right: 10px;
          color: #405183;
        }
      }
    }
    @media screen and (max-width: 1096px) {
      display: none;
    }
  }
}
aside > ul > li:hover {
  background-color: #1b2850;
  border-radius: 5px;
  i {
    color: #fff;
  }
  cursor: pointer;
}
.orange-btn {
  background-color: var(--orange-color);
}
.green-btn {
  background-color: var(--green-color);
  color: #fff;
  font-weight: bold;
  i {
    color: #fff;
  }
}
.bottom-section {
  background-color: #fff;
  padding: 50px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    i {
      font-size: 1.2rem;
    }
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto;
  display: block;
}

th,
td {
  padding: 19px;
  border: 1px solid #ddd;
  /* white-space: nowrap; Prevent text wrapping */
  width: 29%;
}

th {
  background-color: #f4f4f4;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
}

.icon-btn:hover {
  color: #007bff;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.pagination-info {
  font-size: 14px;
}

.pagination-controls {
  display: flex;
  gap: 10px;
}

.pagination-controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
}

.dropdown .dropdown-content {
  height: 0;
  display: none;
  :hover {
    color: var(--orange-color);
    text-decoration: underline;
  }
}

.dropdown-content {
  background: #fff;
  color: #111827;
  border-radius: 10px;
}

.sidebar ul li.active .dropdown-content {
  display: block;
  height: auto;
  margin-top: 20px;
}
/* Responsive design for smaller screens */
@media (max-width: 847px) {
  .pagination {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .pagination-controls {
    justify-content: space-between;
    width: 100%;
  }

  .pagination-controls button {
    font-size: 24px; /* Increase button size for better touch targets */
  }

  th,
  td {
    padding: 8px;
  }
}

@media (max-width: 793px) {
  table,
  th,
  td {
    display: block;
    width: 100%;
  }

  th {
    display: none; /* Hide table headers */
  }

  td {
    margin-bottom: 20px;
    width: 190%;
  }

  td::before {
    content: attr(data-label); /* Use data-label attribute for content */
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    white-space: nowrap;
  }

  td.icon-btn {
    padding-left: 0; /* Adjust padding for action buttons */
  }

  .pagination-controls {
    justify-content: center;
  }
}

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    button {
      width: 100%;
      margin-bottom: 2px;
    }
  }
}

.date-filters button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.date-filters button:hover {
  background-color: #333;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;

  /* margin-top: 1rem; */
}
.bankcard{
  margin-top: 2rem;
}

.card .icon {
  font-size: 24px;
  color: #ff8b60;
  margin-right: 20px;
}

.card .details h2 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.card .details p {
  font-size: 24px;
  margin: 5px 0;
  color: #333;
}

.card .details span {
  color: #888;
  font-size: 14px;
}

.charts {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @media screen and (max-width: 1096px) {
    flex-wrap: wrap;
  }
}
.chart canvas {
  width: 300px !important; /* Full width of the parent container */
  height: 300px !important; /* Fixed height */
}

.chart {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  border: 1px solid #e6e6e6;
}

.chart h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.transaction-card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.transaction-card h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.transaction-tabs {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
}

.transaction-tabs .tab {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
  border: none;
  background-color: transparent;
  transition: all 0.2s;
}

.transaction-tabs .tab.active {
  color: #6200ea;
  border-bottom: 2px solid #6200ea;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  text-align: left;
  padding: 12px 8px;
}

.transaction-table th {
  background-color: #f8fafc;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
}

.transaction-table td {
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
}

.status {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
}

.status.draft {
  background-color: #ff9800;
  margin: 3rem;
}

.status.approval-pending {
  background-color: #ffb74d;
  margin-block: 5px;
}

.status.approved {
  background-color: #4caf50;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}

.pagination span {
  margin-right: 10px;
  font-size: 14px;
}

.pagination select {
  padding: 4px 8px;
  font-size: 14px;
  margin-right: 15px;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.pagination-controls button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
.ri-toggle-line{
  transform: rotate(180deg);
}
.ri-toggle-line.active{
  transform: rotate(0deg);

}
.sidebar.collapsed{
  width: 0;

  transition: width 0.5s ease;

}



/* import porducts popup csss */


.import-products{
  display: none;
}

.import-products.active{
  display: block;
  position: absolute;
inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  .import-wrapper{
position: absolute;
display: flex;
flex-direction: column;
width: 60%;
gap: 20px;
background-color: #fff;
top: 50%;
left: 50%;
border-radius: 4px;
transform: translate(-50%,-50%);
padding: 20px;
      h1{
          margin-bottom: 20px;
      }
      .import-buttons{
          display: flex;
          gap: 10px;
  }
  .upload-btn{
      display: flex;
      align-items: center;
      gap: 10px;
  }
}
}







